<div class="custom-dialog">
	<h2 mat-dialog-title>{{modalTitle}} </h2>
	<mat-dialog-content>
    <mat-divider></mat-divider>

    <div class="row rowPaddingSpacesettings" style="text-align:center;">
        <b style="color: red;">{{resultsMessage}}</b>
    </div>
    
        <div class="row rowPaddingSpacesettings" *ngFor="let scratchCardStrapiImage of scratchCardStrapiImages">
            <!--<div class="col-md-12"><b>{{scratchCardStrapiImage?.title}}</b></div>-->
           <!-- <div class="col-md-2"> 
                <mat-checkbox class="example-margin" (change)="setImage(scratchCardStrapiImage?.image1?.url)"></mat-checkbox>              
                <img [src]="scratchCardStrapiImage?.image1?.url" width="175px" height="140px">
            </div>
            <div class="col-md-2">   
                <mat-checkbox class="example-margin" (change)="setImage(scratchCardStrapiImage?.image2?.url)"></mat-checkbox>             
                <img [src]="scratchCardStrapiImage?.image2?.url" width="175px" height="140px">
            </div>
            <div class="col-md-2">   
                <mat-checkbox class="example-margin" (change)="setImage(scratchCardStrapiImage?.image3?.url)"></mat-checkbox>           
                <img [src]="scratchCardStrapiImage?.image3?.url" width="175px" height="140px">
            </div>
            <div class="col-md-2">   
                <mat-checkbox class="example-margin" (change)="setImage(scratchCardStrapiImage?.image4?.url)"> </mat-checkbox>          
                <img [src]="scratchCardStrapiImage?.image4?.url" width="175px" height="140px">
            </div>
            <div class="col-md-2">    
                <mat-checkbox class="example-margin" (change)="setImage(scratchCardStrapiImage?.image5?.url)"></mat-checkbox>       
                <img [src]="scratchCardStrapiImage?.image5?.url" width="175px" height="140px">
            </div>
            <div class="col-md-2">    
                <mat-checkbox class="example-margin" (change)="setImage(scratchCardStrapiImage?.winningImage?.url)"></mat-checkbox>       
                <img [src]="scratchCardStrapiImage?.winningImage?.url" width="175px" height="140px">
            </div>-->
        </div>
		
	</mat-dialog-content>
	<mat-dialog-actions align="end">        
		<button mat-raised-button  [mat-dialog-close]="true">Ok</button>
	</mat-dialog-actions>
</div>