.mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 6px;
    width: 300px;
    color: red;
    text-align: center;
    /*
    color: white;
    background-color: red;
    */
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }