
<div class="row" style="margin: 0px; padding : 2px;">
    <div class="card" style="margin: 0px; padding : 0px;">
        <div class="card-header" style="text-align: center;padding-top: 5px;padding-bottom: 5px;">
            <h5 style="text-align: left;padding: 2px;">
                <i class="fa fa-home fa-md" aria-hidden="true" style="color:#6c757d"></i>&nbsp;Welcome</h5>
        </div>

        <div class="card-body">
        <br/>
        <br/>
        <br/>
        <p class="card-text" style="text-align: center;">Welcome &nbsp;{{user.username}}</p>
        <br/>
        <br/>
        <br/>
        </div>
    </div>
</div>
