<mat-accordion>
    <mat-expansion-panel [expanded]="true">
       <mat-expansion-panel-header class="panelHeaderCss">
            <mat-panel-title>
                <b>System Messages</b>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row rowPaddingSpacesettings">
            <div class="col-md-4">
              Unit<br />
              <ng-select [items]="userSites" [virtualScroll]="true" appendTo="body" bindLabel="siteFullName" (change) = "searchMessage()"
                placeholder="Select Unit" [(ngModel)]="site">
              </ng-select>
            </div>   
            <div class="col-md-2">
              <br />
             <button type="button" class="btn btn-secondary statusBtnWidth" (click)="searchMessage()">
              Search &nbsp;<i class="fa fa-search" aria-hidden="true" style="color:white"></i>
            </button>
            </div>
            <div class="col-md-6">
                
            </div>
          </div>

          <br />
      <div class="row rowPaddingSpacesettings">
            <table class="table table-bordered" style="margin-bottom: 0px;">
                <thead style="background-color: #eee;">
                    <tr>
                        <th>Message</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>            
                  <tbody *ngFor="let scratchCardMessage of scratchCardMessageDtoItems">
                     <tr>
                        <td>{{scratchCardMessage.messageToDisplay}}</td>
                        <td><b
                          [ngStyle]="{'color':scratchCardMessage?.status === 'Active' ? 'green' : 'red' }">{{scratchCardMessage.status}}</b>
                        </td>
                        <td>                            
                        </td>            
                    </tr>
                </tbody>
            </table>
           <p *ngIf="showNoResultsMessage"
                style="text-align: center;border:solid 1px #eee;padding: 10px;margin: 0px;color: red;">
                {{resultsMessage}}</p>
                <div class="row rowPaddingSpacesettings">
                  <div class="col-md-12">
                    <jw-pagination [items]="scratchCardMessageDto" (changePage)="onChangePage($event)"></jw-pagination>
                  </div>
                </div>
        </div>

    </mat-expansion-panel>
</mat-accordion>