<mat-accordion>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header class="panelHeaderCss">
            <mat-panel-title>
                <b>Gaming KPI's</b>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <br />

        <div class="row vh-10 d-flex justify-content-center align-items-center rowPaddingSpacesettings">
            <div class="col-sm-1"></div>
            <div class="col-sm-2" style="text-align:right;">
                Date From
            </div>
            <div class="col-sm-2">
                <input type="text"
                class="form-control"
                #dp="bsDatepicker" mask="00/00/0000"
                bsDatepicker 
                [(bsValue)]="startDate"
                [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', 'containerClass': 'theme-dark-blue'}">
            </div>
            <div class="col-sm-1" style="text-align:center;">
                Date To
            </div>
            <div class="col-sm-2">
                <input type="text"
                class="form-control"
                #dp="bsDatepicker"
                mask="00/00/0000"
                bsDatepicker 
                [(bsValue)]="endDate"
                [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', 'containerClass': 'theme-dark-blue'}">
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-secondary btn-sm statusBtnWidth" (click)="viewKPISByDate()">
                    Search &nbsp;<i class="fa fa-search" aria-hidden="true" style="color:white"></i>
                </button>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br />

        <div class="row vh-10 d-flex justify-content-center align-items-center rowPaddingSpacesettings">
            <div class="col-sm-2" style="text-align: right;padding-right: 10px;">
                Last Play Date
            </div>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" readonly
                    [ngModel]="gamingKPISUnitDto?.lastPlayDate | date: 'd/M/y'" style="text-align: right">
            </div>
            <div class="col-sm-2" style="text-align: right;padding-right: 10px;">
                Gaming Visits
            </div>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" readonly [ngModel]="gamingKPISUnitDto?.visits"
                    style="text-align: right">
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row vh-10 d-flex justify-content-center align-items-center rowPaddingSpacesettings">
            <div class="col-sm-2" style="text-align: right;padding-right: 10px;">
                Slots Handle
            </div>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" readonly
                    [ngModel]="gamingKPISUnitDto?.slots_Handle" style="text-align: right">
            </div>
            <div class="col-sm-2" style="text-align: right;padding-right: 10px;">
                Tables Drop
            </div>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" readonly
                    [ngModel]="gamingKPISUnitDto?.tables_Drop" style="text-align: right">
            </div>
            <div class="col-sm-2" style="text-align: right;padding-right: 10px;">
                AVG Spend
            </div>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" readonly [ngModel]="gamingKPISUnitDto?.avgSpend"
                    style="text-align: right">
            </div>
        </div>

        <div class="row vh-10 d-flex justify-content-center align-items-center rowPaddingSpacesettings">
            <div class="col-sm-2" style="text-align: right;padding-right: 10px;">
                Slots Theo Win
            </div>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" readonly
                    [ngModel]="gamingKPISUnitDto?.slots_TheoWin" style="text-align: right">
            </div>
            <div class="col-sm-2" style="text-align: right;padding-right: 10px;">
                Tables Theo Win
            </div>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" readonly
                    [ngModel]="gamingKPISUnitDto?.tables_TheoWin" style="text-align: right">
            </div>
            <div class="col-sm-2" style="text-align: right;padding-right: 10px;">
                Total Theo Win
            </div>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" readonly
                    [ngModel]="gamingKPISUnitDto?.total_TheoWin" style="text-align: right">
            </div>
        </div>

        <div class="row vh-10 d-flex justify-content-center align-items-center rowPaddingSpacesettings">
            <div class="col-sm-2" style="text-align: right;padding-right: 10px;">
                Slots Actual Win
            </div>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" readonly
                    [ngModel]="gamingKPISUnitDto?.slots_ActualWin" style="text-align: right">
            </div>
            <div class="col-sm-2" style="text-align: right;padding-right: 10px;">
                Tables Actual Win
            </div>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" readonly
                    [ngModel]="gamingKPISUnitDto?.tables_ActualWin" style="text-align: right">
            </div>
            <div class="col-sm-2" style="text-align: right;padding-right: 10px;">
                Total Actual Win
            </div>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" readonly
                    [ngModel]="gamingKPISUnitDto?.total_ActualWin" style="text-align: right">
            </div>
        </div>

        <div class="row vh-10 d-flex justify-content-center align-items-center rowPaddingSpacesettings">
            <div class="col-sm-2" style="text-align: right;padding-right: 10px;">
                Slots Worth
            </div>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" readonly
                    [ngModel]="gamingKPISUnitDto?.slots_Worth" style="text-align: right">
            </div>
            <div class="col-sm-2" style="text-align: right;padding-right: 10px;">
                Tables Worth
            </div>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" readonly
                    [ngModel]="gamingKPISUnitDto?.tables_Worth" style="text-align: right">
            </div>
            <div class="col-sm-2" style="text-align: right;padding-right: 10px;">
                Total Worth
            </div>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" readonly
                    [ngModel]="gamingKPISUnitDto?.total_Worth" style="text-align: right">
            </div>
        </div>

        <br />
        <b>Information is based on a rolling 12 months</b>
        <mat-divider></mat-divider>
        <br />
        <div class="row vh-10 d-flex justify-content-center align-items-center rowPaddingSpacesettings">

            <div class="col-sm-2" style="text-align: right;padding-right: 10px;">
                Visit Segment
            </div>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" readonly
                    [ngModel]="gamingKPISUnitDto?.visitSegment">
            </div>
            <div class="col-sm-2" style="text-align: right;padding-right: 10px;">
                Spend Segment
            </div>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" type="text" readonly
                    [ngModel]="gamingKPISUnitDto?.spendSegment" style="text-align: right">
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row vh-10 d-flex justify-content-center align-items-center rowPaddingSpacesettings">
            <div class="col-sm-12" style="text-align: center;">
                <br />
                <br />
                <button type="button" class="btn btn-outline-secondary statusBtnWidth" (click)="openDefinitionsModal()">
                    <b>View Definitions</b>
                </button>
                <br />
                <br />
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>