<div class="row" style="margin: 0px; padding : 2px;">
    <div class="card zeroPaddingMarginSetting" style="margin:0px;padding: 0px;">
      <div class="card-header" style="text-align: center;padding-top: 5px;padding-bottom: 5px;">
        <h5 style="text-align: left;padding: 2px;">
          <i class="fa fa-user fa-md" aria-hidden="true" style="color:#6c757d"></i>&nbsp;Search Users
        </h5>
      </div>
      <div class="card-body">
        <div class="row rowActionButtonSetting">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-outline-primary statusBtnWidth" (click)="AddUser()" style="float: right;">
              Add User &nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
            </button>
           </div>
        </div>
        <div class="row rowPaddingSpacesettings">
          <div class="col-md-4">
            Unit<br />
            <ng-select [items]="userSites" [virtualScroll]="true" bindLabel="siteFullName" bindValue="siteID"
              placeholder="Select Unit" [(ngModel)]="requestUser.unitId">
            </ng-select>
          </div>
          <div class="col-md-2">
           Username<br />
          <input class="form-control" type="text" [(ngModel)]="requestUser.username">
          </div>
  
          <div class="col-md-2">
            FirstName<br />
            <input class="form-control" type="text" [(ngModel)]="requestUser.firstname">
          </div>
  
          <div class="col-sm-2">
            Surname<br />
          <input class="form-control" type="text" [(ngModel)]="requestUser.surname">
          </div>
          <div class="col-md-2">
            <br />
           <button type="button" class="btn btn-secondary statusBtnWidth" (click)="searchUsers()">
            Search &nbsp;<i class="fa fa-search" aria-hidden="true" style="color:white"></i>
          </button>
          </div>
        </div>
  
        <br />
        <div class="row rowPaddingSpacesettings">
          <table class="table table-bordered" style="margin-bottom: 0px;">
            <thead style="background-color: #eee;">
              <tr>
                <th>Site Name</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Surname</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let user of usersDtoItems">
              <tr>
                <td>{{user.siteFullName}}</td>
                <td>{{user.username}}</td>    
                <td>{{user.firstname}}</td>     
                <td>{{user.surname}}</td>      
                <td><b
                    [ngStyle]="{'color':user?.status === 'Active' ? 'green' : 'red' }">{{user.status}}</b>
                </td>                
                <td>
                  <button type="button" class="btn btn-link pl-1" (click)="goToModifyUser(user)">
                    <i class="fa fa-edit" aria-hidden="true" style="color: blue;"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <p *ngIf="showNoResultsMessage" style="text-align: center;border:solid 1px #eee;padding: 10px;margin: 0px;color: red;">{{resultsMessage}}</p>
          <div class="row rowPaddingSpacesettings">
            <div class="text-center">
              <jw-pagination [items]="usersDto" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>